</section>
<footer>
    <i class="fa-brands fa-twitter socialmedia"></i>
    <i class="fa-brands fa-facebook-f socialmedia"></i>
    <i class="fa-brands fa-instagram socialmedia "></i>
    <i class="fa-solid fa-envelope socialmedia"></i>
    <p> <i class="fa fa-copyright" aria-hidden="true"></i>Copyright 2023 Rajkumar A - Copyright Holder All Rights Reserved.</p>
</footer>
</body>